We compute the percetage of nodes in maximal simplices across dimensions

In [1]:
# General packages 
import pandas as pd
import numpy as np
# Networks 
from connalysis.network import topology
# System specific
import sys 
sys.path.append('../../../library')
from structural_basic import load_connectome

In [2]:
connectome_dir="../../data"
nodes_per_dim={}
conns=["Celegans", "Drosophila", "MICrONS", "BBP"]
for conn in conns:
    connectome=load_connectome(connectome_dir, conn)
    adj=connectome.matrix.astype(bool)
    adj.setdiag(0)
    par=topology.node_participation(adj, max_simplices=True,threads=10)
    par["max_dim"]=(par.iloc[:,1:]>0).sum(axis=1)
    counts=pd.DataFrame(par["max_dim"].value_counts().sort_index())
    counts["percentage"]=counts["count"]*100/counts["count"].sum()
    counts["cum_sum"]=np.cumsum(counts["percentage"])
    nodes_per_dim[conn]=counts
    print(f"Done with {conn}")
    display(nodes_per_dim[conn])

Warning!!! When accessing the adjacency as a sparse matrix using the .matrix property:
    Connections that are not present at a given stage, but at other stages will be represented as edges,
    but with a value of ``0`` synapses associated with them.  For structural analysis always use .eliminate_zeros
Done with Celegans

         count  percentage     cum_sum
max_dim
1           13    5.936073    5.936073
2           43   19.634703   25.570776
3           79   36.073059   61.643836
4           61   27.853881   89.497717
5           19    8.675799   98.173516
6            4    1.826484  100.000000

Done with Drosophila

         count  percentage     cum_sum
max_dim
0           76    2.571042    2.571042
1          182    6.156969    8.728011
2          381   12.889039   21.617050
3          814   27.537212   49.154263
4          937   31.698241   80.852503
5          435   14.715832   95.568336
6          115    3.890392   99.458728
7           16    0.541272  100.000000

Done with MICrONS

         count  percentage     cum_sum
max_dim
0            3    0.031188    0.031188
1            4    0.041584    0.072773
2          207    2.151991    2.224763
3         2333   24.254080   26.478844
4         4231   43.985861   70.464705
5         2442   25.387254   95.851960
6          380    3.950515   99.802474
7           19    0.197526  100.000000

Done with BBP

         count  percentage     cum_sum
max_dim
2            4    0.015056    0.015056
3         1442    5.427786    5.442843
4        15944   60.014303   65.457146
5         8740   32.897956   98.355102
6          437    1.644898  100.000000